@model AddToDbModel
<h1>Add DM to Db</h1>

<div class="col-4">
    <form method="post" asp-controller="Home" asp-action="AddCardToDb">
        <div>
            <label asp-for="cardName" class="form-label"></label>
            <input asp-for="cardName" class="form-control" value="@Model.cardName" />
         <span asp-validation-for="cardName" class="text-danger"></span>
        </div>
        <div>
            <br/><button type="submit" class="btn btn-success">AddCardToDb</button>
        </div>
    </form>
</div>
