@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-light text-bg-dark">
    <h1 class="display-4">Welcome</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis nisl sit amet est feugiat pretium non non velit. Pellentesque consequat placerat elit et ullamcorper. Sed facilisis lacinia euismod. Etiam in vestibulum justo. Aenean pulvinar enim tristique eros consequat, id feugiat elit interdum. Nullam eu ante ac mauris maximus convallis in a mauris. Cras nec felis a justo pulvinar egestas. Nam diam sapien, ultricies eget ligula ut, eleifend pharetra erat. Curabitur ac enim dui. Curabitur hendrerit dui sit amet justo viverra, sit amet pellentesque arcu consequat. Quisque tempus lobortis libero a consectetur.

        Sed fringilla nunc ornare massa vehicula, et tristique erat auctor. Proin congue pellentesque dictum. Praesent iaculis ex dolor, in dapibus quam rhoncus nec. In sit amet lorem enim. Nunc magna nisl, laoreet molestie diam non, venenatis varius eros. Etiam accumsan dignissim ex at tincidunt. Nam sollicitudin quam vitae ipsum condimentum egestas. Nulla vitae ultricies erat. Maecenas tristique a tellus sit amet faucibus. Aliquam ut mi id mi eleifend sollicitudin. In vel augue lorem. Duis a lectus cursus, interdum felis ac, consequat sapien.

        Sed ligula lectus, sagittis at eros sit amet, volutpat feugiat ante. Donec non venenatis risus, eu porttitor mauris. Integer quis lectus at tellus scelerisque viverra at efficitur elit. Sed feugiat sem arcu, non commodo tellus consequat a. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer nec nunc vel augue bibendum maximus at ac nunc. Ut congue mi quis nibh dapibus elementum. Aenean condimentum aliquet lacus, vel sollicitudin dolor viverra at. Sed sed massa vitae lacus varius volutpat. Aliquam congue, nulla vel tempor pharetra, augue lacus ultrices felis, a imperdiet mi odio at urna. Maecenas posuere ipsum vel ligula fermentum ullamcorper. Mauris quis sagittis ligula. Curabitur nulla purus, tincidunt eu aliquet sed, ultricies nec eros. In hac habitasse platea dictumst.

        Ut pretium nunc vel tortor sollicitudin, vitae sollicitudin arcu bibendum. Nulla a dapibus ex. Cras et nisl at eros vehicula feugiat eu a ipsum. Integer venenatis, nibh et lobortis convallis, quam tellus laoreet tellus, cursus facilisis diam sapien vel orci. Mauris efficitur cursus libero, sed consequat neque aliquet at. Donec bibendum eu ligula sit amet dictum. Aenean elit felis, hendrerit nec ultricies quis, elementum ut felis. Curabitur a imperdiet leo. Mauris dapibus justo nec massa bibendum porttitor.

        Duis fermentum, magna nec commodo malesuada, libero orci dictum justo, sed ornare risus enim quis mauris. Curabitur id lectus sit amet leo malesuada tristique condimentum eu ante. Donec ipsum lacus, facilisis non erat eu, pharetra accumsan massa. Pellentesque tincidunt dui sem, non sodales augue faucibus ut. In vehicula egestas massa, vitae scelerisque felis lacinia eu. Nulla facilisi. Curabitur placerat, erat sit amet dictum ultrices, enim nunc finibus urna, nec faucibus sem nibh sit amet tortor. Proin dignissim urna ac nisl tempus fermentum. Fusce at enim purus.

        Integer non tincidunt diam. Praesent a justo vitae elit elementum luctus. Vestibulum pellentesque fermentum metus, eget rhoncus eros mattis sit amet. Curabitur eget convallis nunc, quis dictum sem. Mauris placerat suscipit enim, a dignissim nulla viverra ut. Vestibulum non est nulla. Nam fermentum, velit quis tincidunt laoreet, nisl nulla rutrum justo, at iaculis nisi ipsum id mauris. Nam egestas congue urna id interdum. Vestibulum ullamcorper pellentesque arcu ut molestie. Etiam et nisi id ex elementum egestas et sollicitudin metus. Fusce fringilla risus ut lacinia malesuada. Nunc efficitur massa in orci facilisis bibendum. Curabitur nec diam eu neque viverra porta..
    </p>
</div>
