@{
    this.ViewData["Title"] = "Administration";
}
<div class="row fill">
    <div class="col">
<h1>Welcome to Administration</h1>

<ul class="list-group">
    <li class="list-group-item  list-group-item-action"><a asp-action="SubCattegories" asp-controller="SubCattegory" asp-area="Administration">Go To SubCattegories</a></li>
    <li class="list-group-item list-group-item-action"><a asp-action="Users" asp-controller="Users" asp-area="Administration">Go To Users</a></li>
    </ul>
    </div>
</div>

