@{
    this.ViewData["Title"] = "Administration";
}

<h1>Welcome to Administration</h1>

<a asp-action="SubCattegories" asp-controller="SubCattegory" asp-area="Administration">Go To SubCattegories</a>