html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
   
}

#leftmargin {
    background-image: url("https://wallpaperaccess.com/full/505768.jpg");
}

#rightmargin {
    background-image: url("https://wallpaperaccess.com/full/505768.jpg");
}
.fill {
    min-height: 90vh;
    height: 100%;
}
