@model IEnumerable<CardDto>

<p class="row text-center g-2" >
    
        @foreach (var entry in Model.SelectMany(x => x.CardImages.Where(i=>i.EndsWith("1.jpg"))))
        {
           
            <img src="@entry" alt="broken" class="img-fluid rounded col-2"/>


        }
    
</p>
