
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}



#leftmargin {
    background-image: url("backgrounds/505768.jpg");
}

#rightmargin {
    background-image: url("backgrounds/505768.jpg");
}

#leftmarginForum {
    background-image: url("backgrounds/background-gradient-lights_23-2149304997.jpg");
}

#rightmarginForum {
    background-image: url("backgrounds/background-gradient-lights_23-2149304997.jpg");
}


.fill {
    min-height: 90vh;
    height: 100%;
}
