
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}




body {
   
}

#leftmargin {
    background-image: url("https://wallpaperaccess.com/full/505768.jpg");
}

#rightmargin {
    background-image: url("https://wallpaperaccess.com/full/505768.jpg");
}

#leftmarginForum {
    background-image: url("https://img.freepik.com/free-photo/background-gradient-lights_23-2149304997.jpg?w=2000");
}

#rightmarginForum {
    background-image: url("https://img.freepik.com/free-photo/background-gradient-lights_23-2149304997.jpg?w=2000");
}


.fill {
    min-height: 90vh;
    height: 100%;
}
