@section Styles{
    <link type="text/css" rel="stylesheet" href="/css/error500.css" />
}

<div class="container">
    <div class='containerError'>
        <span class="error-numError">500</span>       

        <p class="sub-text pError">Oh! Something went wrong. We're <span class="italic">looking</span> to see what happened.</p>
            <a class="aError" asp-controller="Home" asp-action="Index">Go To Homepage</a>
    </div>
</div>
